h1 {
    background-color: cadetblue;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
}

img {
    border-radius: 100px;
}

.u-center-box {
    display: flex;
    justify-content: center;
}

.u-center {
    text-align: center;
}

.myinfo {
    color: red;
    font-family: cursive;
}