body {
    background-color: cadetblue;
    color: whitesmoke;
    font-family: sans-serif;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.image-box {
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
    display: inline-block;
    border: 4px solid rgb(45, 86, 122);
    border-radius: 6px;
    padding: 1rem;
    font-size: 4rem;
}

.center-text {
    text-align: center;
}

a {
    text-decoration: none;
    color: antiquewhite;
}