body {
    background-color: navy;
    color: whitesmoke;
    padding: 1rem;
    font-family: cursive;
}

h2 {
    background-color: aliceblue;
    border-radius: 10px;
    width: fit-content;
    padding: 6px 10px;
    color: black
}

.u-center {
    text-align: center;
}

a {
    color: aqua;
}

a:hover {
    color: rgb(0, 104, 70);
}

img {
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}